<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplikasi Vue #1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<style>
		body {
		  margin : 5%;
		  font-family: "Raleway", sans-serif;
		}

		.active {
			background: salmon;
			border : 0;
			padding: 5px;
		}
		</style>


    
</head>
<body>

<div id="app">
	<header>
		
		<img v-bind:src="img" width="500">
		<h1 v-text="name"></h1>
        <h3>Form Submit</h3>
        <p><input type="text" placeholder="nama kelas" v-on:keyup.enter="submit" v-model="kelasbaru"> </p>
        <h1 v-text="name"></h1>
        <ul>
            <li v-for="k in kelas">{{k}}</li>
        </ul>

        
        <label for="">
            <input type="checkbox" value="Dribbble" v-model="kelas">Dribbble
        </label>
        <label for="">
            <input type="checkbox" value="Vue" v-model="kelas">Vue
        </label>
        <label for="">
            <input type="checkbox" value="Kojima" v-model="kelas">Kojima
        </label>
        <br>


		<a v-bind:class="{active: menu === 'home'}" href="#" v-on:click.prevent ="gantimenu('home', )">Home</>
		<a v-bind:class="{active: menu === 'about'}"  href="#" v-on:click.prevent ="gantimenu('about', )">About</>
		<a v-bind:class="{active: menu === 'blog'}"  href="#" v-on:click.prevent ="gantimenu('blog', )">Shop</>
	
	
	</header>
	<footer>
		<p>copyright gaming 2021</p>
	</footer>
</div>
    
    <!-- aplikasi Vue Hello -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
 
        const vm = new Vue({
            el: "#app",
            data: {
    			name: "Jilan Ferdiansysah",
    			pesan : " pingin gaming",
    			qty: 3,
    			depan: "naruto",
    			belakang: "uzumaki",
    			link: '<a href=""> ini link </a>',
    			img : 'img/vue.jpg',
    			menu: 'home',
                kelas : ['asu','haha'],
                kelasbaru : ['html']
    		},
            methods: {
            	getname: function() {
            		return 	'Hello, ' +this.name
            	},
            	ubahnama: function(namabaru) {
            		this.name = namabaru
            	},
            	handleclick: function(){
            		this.qty++
            		this.img = 'img/kojima.png'

            	}, 
                gantimenu: function(data){
                    event.preventDefault()
                    this.menu = data  
                },
                submit: function(event){
                    let text = event.target.value
                   
                      this.kelas.unshift(this.kelasbaru)
                      this.kelasbaru ="   "
                }
            },
            computed: {
            	totalbayar : function(){
          			return this.qty*20000  		
            	},
            	namalengkap : function(){
            		return this.depan + " " + this.belakang
            	},
            	info : function(){
            		return this.qty%2 === 0 ? 'Genap' : 'Ganjil'
            	}
            }
        })
</script>
</body>
</html>